<div id="top">
  <p id="l33t">l33t hax0rz</p>
  <p id="l33t_use">use browsable backtraces</p>
</div>

<div id="buttons">
  <ul>
    <li><a href="#" onclick="return show_page('boring')">Your backtrace</a></li>
    <li><a href="#" onclick="return show_page('awesome')">Your backtrace on Rubinius</a></li>
    <li><a href="#" onclick="return show_page('git_it')">Git it</a></li>
  </ul>
</div>

<ul id="pages">
  <li id="boring">
    <div class="page">
      <h1>It was a perfect Monday until...</h1>
      <h2>Needle, meet haystack</h2>
      <pre>
<%= @exception.class.name %>: <%=h @exception.message -%>

        <% each_context(@exception.context) do |frame, index| %>
  <%= ellipsis frame.location, 80 -%>:in <%= frame.name -%>
        <% end %>
      </pre>
    </div>
  </li>

  <li id="awesome" style="display:none;">
    <div class="page">
      <h1>Never fear, Bullwinkle is here!</h1>
      <h2>Click and you shall find...</h2>
      <h3><%= @exception.class.name %>: <%= @exception.message.gsub("\n", "<br />") %></h3>
      <ul>
      <% each_context(@exception.context) do |frame, index| %>
        <li>
          <div class="method_name"><%= link_to_frame frame.name, frame, index %></div>
          <div class="method_file"> at <%= link_to_frame ellipsis(frame.location, 70), frame, index %></div>
          <div id="frame_<%= index %>" class="frame" style="display:none;">
            <dl class="tablestyle">
              <dt>Context:</dt><dd><%= frame.describe %></dd>
              <dt>IP/SP:</dt><dd><%= frame.ip %>/<%= frame.sp %></dd>
              <dt>Locals:</dt>
              <dd>
              <% if frame.locals %>
                <ul>
                <% each_local(frame) do |name, value| -%>
                  <li><%= name %> = <%=h value %></li>
                <% end %>
                </ul>
              <% else %>
                <em>None</em>
              <% end %>
              </dd>
              <dt>Source:</dt>
              <dd>
<pre>
<% source_for(frame) do |line| -%>
<%=h line -%>
<% end %>
</pre>
              </dd>
            </dl>
          </div>
        </li>
      <% end %>
      </ul>
      <div>
        <hr />
        <p>A legend of colors</p>
        <ul>
          <li class="frame_app">This is the app</li>
          <li class="frame_view">Something view</li>
          <li class="frame_kernel">A kernel thing</li>
          <li class="frame_framework">What did the plumbers do</li>
          <li class="frame_stdlib">A library of not books</li>
          <li class="frame_eval">Code or data</li>
          <li class="frame_unknown">Tomb of the...</li>
        </ul>
      </div>
    </div>
  </li>

  <li id="git_it" style="display:none;">
    <div class="page">
      <h1>C'mon, you know you want to...</h1>
      <h2>1. Rubinius</h2>
        <ul>
          <li>git clone git://git.rubini.us/code rbx</li>
          <li>cd rbx</li>
          <li>rake</li>
        </ul>
      <h2>2. Rails</h2>
        <ul>
          <li>shotgun/rubinius gem install rails</li>
          <li>shotgun/rubinius bin/rails kowabunga</li>
        </ul>
      <h2>3. Profit&sup1;</h2>
      <ul>
        <li>shotgun/rubinius kowabunga/script/server</li>
      </ul>
      <hr />
      <p>&sup1; There <em>is</em> a step 3.</p>
    </div>
  </li>
</ul>
